#logoimg {
    height: 100px;
    width: 100px;
}

#inicio {
    height: 500px;
}

#beneficios {
    font-size: 16px;
    text-align: center;
}

.card:hover {
    background-color: #10A2D9 !important;
    color: white;
    transition: background-color 0.8s ease-in-out;
    transition: color ease-in-out;
  }

#imgjumbotron {
    max-width: 100%;
    height: auto;
    background-image: url('https://images.pexels.com/photos/7579831/pexels-photo-7579831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

}

