#logoimg {
    height: 100px;
    width: 100px;
}

#inicio {
    height: 500px;
}

#beneficios {
    font-size: 16px;
    text-align: center;
}

.card:hover {
    background-color: #10A2D9 !important;
    color: white;
    transition: background-color 0.8s ease-in-out;
    transition: color ease-in-out;
  }

.container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

